.App {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.App-header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 2px solid #e1354b;
}

.App-header h1 {
  color: #e1354b;
  margin-left: 1rem;
  padding: 1rem;
}

.App-header img {
  height: 20vh;
}

.App-body {
  margin-left: 2.5rem;
  margin-top: 1.5rem;
  padding: 1rem;

}

.App-body p {
  text-align: left;
  font-weight: 500;
  font-size: 1rem;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  border-top: 2px solid #e1354b;
  text-align: center;
}

.App-footer p {
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
}
